<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directive Component</title>
    <style>
         .card{
            background: #efefef;
            border: 1px solid #ddd;
            margin-right: 5px;
            width: 200px;
            float: left;
        }
        h3{
            min-height: 45px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>Selected: {{ selectedBook }}</h1>
        <book 
            v-for="book in books"
            :key="book.id"
            :book="book"
            @selected="selectedBook = $event"
        >

        </book>
    </div>
    

    <script src="../lib/vue.js"></script>
    <script>
        var BookComponent = {
            data() {
                return {
                    classCard: 'card'
                }
            },
            props: ['book'],
            template: `
                        <div :class="classCard">
                        <h3>{{ book.title }}</h3>
                        <img :src="'../images/'+book.image" style="width:100px">
                        <p v-html="book.description"></p>
                        <button @click="$emit('selected', book.title)">Select</button>
                        </div>
                    `
        }
         // mendaftarkan component
        //  new Vue({
        //     el: '#app',
        //     components: {
        //         'book': BookComponent,
        //     }
        // });

        // deklarasi object vue dengan data books
        var vm = new Vue({
            el: '#app',
            components: {
                'book': BookComponent,
            },
            data: {
                books: [
                    {
                        id: 01,
                        title: 'C++ High Performance',
                        description: 'Write code that scales across CPU registers, multi-core, and machine clusters',
                        authors: 'Viktor Sehr, Björn Andrist',
                        publish_year: 2018,
                        price: 100000,
                        image: 'luffy.jpg'
                    },
                    {
                        id: 02,
                        title: 'C++ High Performance',
                        description: 'Write code that scales across CPU registers, multi-core, and machine clusters',
                        authors: 'Viktor Sehr, Björn Andrist',
                        publish_year: 2018,
                        price: 100000,
                        image: 'bumi.jpg'
                    },
                    {
                        id: 03,
                        title: 'C++ High Performance',
                        description: 'Write code that scales across CPU registers, multi-core, and machine clusters',
                        authors: 'Viktor Sehr, Björn Andrist',
                        publish_year: 2018,
                        price: 100000,
                        image: 'garuda.jpg'
                    },
                    {
                        id: 04,
                        title: 'C++ High Performance',
                        description: 'Write code that scales across CPU registers, multi-core, and machine clusters',
                        authors: 'Viktor Sehr, Björn Andrist',
                        publish_year: 2018,
                        price: 100000,
                        image: 'app.png'
                    }
                ]
            }
        })
    </script>
</body>
</html>